* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General rules */
:root {
    --my_color1: #000;
    --my_color2: #fff;
    --my_color3: #1f1f1f;
    --my_color4: #bebcbb;
    --my_color5: #161c3b;
    --my_color6: #00439c;
    --my_btn_color1: #363636;
    --my_btn_color2: #cd3d0f;
    --my_btn_color3: #005fc5;
    --my_btn_color4: #d9dadc;
}

.my_btn {
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
}

/* General logo rules */

/* Start of header */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
}

/* Start of h_top */
header .h_top {
    background-color: var(--my_color1);
    height: 30px;
}

header .h_top img {
    height: 10px;
}

/* Start of h_bottom */
header .h_bottom {
    min-height: 58px;
    background-color: var(--my_color2);
}

header .h_bottom_left ul,
header .h_bottom_right ul {
    margin-bottom: 0; /* Overwritten Bootstrap rules which gave 16px bottom margin to ul */
    display: none;
}

header .my_btn {
    background-color: var(--my_btn_color1);
}
/* End of header */

/* Start of jumbotron */
#jumbotron {
    margin-top: 88px;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
}

#jumbotron .my_container {
    bottom: 40px;
    left: 12px;
    width: 90%;
    margin: auto;
    position: absolute;
}

#jumbotron .my_container img {
    width: 200px;
}

#jumbotron .my_container .my_btn {
    background-color: var(--my_btn_color2);
}
/* End of jumbotron */

/* Start of main */
/* Start of cards */
#cards .my_card img {
    width: 100%;
}

#cards .my_card:first-child {
    border: 3px solid var(--my_btn_color3);
}

/* Start of ps5 */
#ps5 h6 {
    color: var(--my_btn_color3);
}

#ps5 .ps5_img {
    width: 90%;
}

#ps5 .my_btn.ps_5 {
    background-color: var(--my_btn_color3);
}

#ps5 .my_card:nth-child(2),
#ps5 .my_card:nth-child(3),
#ps5 .my_card:nth-child(4),
#ps5 .my_card:nth-child(5) {
    opacity: 0.5;
}

#ps5 .my_card img {
    width: 100%;
}

#ps5 .my_card p {
    display: none;
}

/* Start of takes_two */
#takes_two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

#takes_two .game_title_logo {
    width: 250px;
}

#takes_two .my_btn {
    background-color: var(--my_btn_color2);
}

/* Start of nuove_uscite */
#nuove_uscite {
    background-color: var(--my_color3);
}

#nuove_uscite .img_nu {
    width: 100%;
}

/* Start of esplora_ps4 */
#esplora_ps4 .img_esp {
    width: 100%;
}

#esplora_ps4 .my_btn {
    background-color: var(--my_btn_color3);
    color: var(--my_color2);
}

/* Start of p_plus */
#p_plus {
    background-color: var(--my_color4);
}

#p_plus .my_container img {
    width: 300px;
}

#p_plus .my_btn {
    background-color: var(--my_btn_color4);
    color: var(--my_btn_color3);
}

#p_plus .my_container_hidden {
    display: none;
}

#p_plus .my_container_hidden img {
    width: 100%;
}

/* Start of sconti */
#sconti .img_sconti {
    width: 100%;
}

/* Start of ps_now */
#ps_now {
    background-color: var(--my_color5);
}

#ps_now .logo_psnow {
    width: 200px;
}

#ps_now .my_btn {
    background-color: var(--my_color2);
    color: var(--my_color1);
}

#ps_now .my_img {
    width: 100%;
}

#ps_now .my_hidden {
    display: none;
}

#ps_now .img_psnow {
    width: 100%;
}

/* Start of social_media */
#social_media img {
    width: 100%;
}
/* End of main */

/* Start of footer */
footer .my_container {
    background-color: var(--my_color6);
}

/* Start of footer top */
footer .f_language {
    width: 15px;
}

footer li {
    padding: 5px;
}

/* Start of footer bottom */
footer .sie_logo {
    width: 150px;
}
/* End of footer */

/* Start of media queries */
@media screen and (min-width: 768px) {
    /* Start of header */
    #takes_two .game_title_logo {
        width: 300px;
    }
    /* Start of main */
    #ps5 .my_card p {
        display: inline-block;
    } 
    #p_plus .my_container_hidden {
        display: block;
    }
    #ps_now .my_hidden {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    /* Start of header */
    header .h_bottom_left ul {
        display: inline-block;
        display: flex;
    }
    header .h_bottom_right .my_menu {
        display: none;
    }
    header .h_bottom_right ul {
        display: inline-block;
        display: flex;
    }
    #jumbotron .my_container {
        width: 30%;
    }
    /* Start of main */
    #takes_two {
        position: relative;
    }
    #takes_two .my_container {
        position: absolute;
        left: 12px;
        width: 40%;
        padding-left: 0px !important;
    }
    #takes_two .game_title_logo {
        width: 150px;
    }
}
/* End of media queries */

/* Start of transitions */
/* Cards section */
.my_card_transition {
    transition: all 0.2s linear;
}

.my_card_transition:hover {
    transform: translateY(-10px);
}
/* End of transitions */

/* Start of hover effects */
/* Buttons */
.hov_eff {
    cursor: pointer;
    border: 2px solid transparent;
    outline: 3px solid transparent;
}

.hov_btn1:hover {
    border: 2px solid var(--my_color2);
    outline: 3px solid var(--my_btn_color1);
}

.hov_btn2:hover {
    border: 2px solid var(--my_color2);
    outline: 3px solid var(--my_btn_color2);
}

.hov_btn3:hover {
    border: 2px solid var(--my_color2);
    outline: 3px solid var(--my_btn_color3);
}

.hov_btn4:hover {
    border: 2px solid var(--my_btn_color3);
    outline: 3px solid var(--my_btn_color4);
}

.hov_btn5:hover {
    border: 2px solid var(--my_color1);
    outline: 3px solid var(--my_color2);
}
/* End of hover effects */