* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General rules */
:root {
    --my_color1: #000;
    --my_btn_color1: #363636;
    --my_btn_color2: #cd3d0f;
}

.my_btn {
    display: inline-block;
    padding: 8px;
    border-radius: 20px;
}

/* Start of header */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
}

/* Start of h_top */
header .h_top {
    background-color: var(--my_color1);
    height: 30px;
}

header .h_top img {
    height: 10px;
}

/* Start of h_bottom */
header .h_bottom {
    min-height: 58px;
}

header .h_bottom_left ul,
header .h_bottom_right ul {
    margin-bottom: 0; /* Overwritten Bootstrap rules which gave 16px bottom margin to ul */
    display: none;
}

.my_btn {
    background-color: var(--my_btn_color1);
}
/* End of header */

/* Start of jumbotron */
#jumbotron {
    margin-top: 88px;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    position: relative;
}

#jumbotron .my_container {
    bottom: 40px;
    left: 20px;
    width: 90%;
    margin: auto;
}

#jumbotron .my_container img {
    width: 250px;
}

#jumbotron .my_container .my_btn {
    background-color: var(--my_btn_color2);
}
/* End of jumbotron */

/* Start of main */
/* Start of cards */
#cards .my_card img {
    width: 100%;
}

/* End of main */


/* Start of media queries */
@media screen and (min-width: 992px) {
    header .h_bottom_left ul {
        display: inline-block;
        display: flex;
    }
    header .h_bottom_right .my_menu {
        display: none;
    }
    header .h_bottom_right ul {
        display: inline-block;
        display: flex;
    }
    #jumbotron .my_container {
        width: 30%;
    }
}
/* End of media queries */

/* Debug rules */
.my_bgc1 {
    background-color: lightblue;
    height: 100px;
    border: 2px dashed red;
}

.my_box {
    width: 100px;
    height: 70px;
    border: 2px dashed purple;
}

/* To do
+ header fixed
+ bonus: hover on navbar items shows other items below
+ 